*{
    margin: 0;
    padding: 0;
}

body{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #202020;
}
.time{
    color: #fff;
    background: #404040;
    font-family: 'Segoe UI',sans-serif;
    width: 370px;
    padding: 5px 50px;
    border: 3px solid #808080;
    border-radius: 5px;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time span:not(:last-child){
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}
.time span:last-child{
    position: relative;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 25px;
    font-size: 30px;
}