@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');



li, a, button {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  font-size: 20px;
  color: #edf0f1;
  text-decoration: none;
}

.navbar{
  box-sizing: border-box;
  text-align: center;
  vertical-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height:15vh;
  max-width: 600px;
}

.test{
  box-sizing: border-box;
  background: #2c2a2a;
  border-radius: 40px;
  padding: 15px;
  min-height: 60px;
  max-height: 60px;
}

header {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 30px 15%;
}

.nav_links{
  list-style: none;
}

.nav_links li{
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a{
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
  color: #3a3a3a;
  font-size: 21px;
  font-weight: bold;
}

button{
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor:pointer;
  transition: all 0.3s ease 0s;
}

button:hover{
  background-color: rgba(0, 136, 169, 0.8);
}