* {
    margin: 0;
    padding: 0;
}

.page{
    width: 40%;
    text-align: center;
    height: auto;
    margin: auto;
    padding: 10px;
}
.flex{
    display: flex;
    flex-wrap: nowrap;
}

.page-top-box{
    background-color: #808080;
    padding: 10px;
    color: #dbdbdb;
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
    margin: auto;
    margin-bottom: 10px;
    width: fit-content;
    border-radius: 40px;
}

.page-box{
    background-color: #808080;
    padding: 25px;
    margin: auto;
    color: #dbdbdb;
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
    width: 100%;
    border-radius: 40px;
    
}

.page-header-h3{
    text-align: left;
    font-size: large;
}

.hr {
    position: relative;
    right: 2px;
    width:56px; 
    height:5px; 
    background: rgba(223, 223, 223, 0.8) 
}